*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form{
    width: 340px;
    height: 500px;
    margin: auto;
    background-color: blue;
    border-radius: 15px;
    position: relative;
    text-align: center;
    align-items: center;
}

.form input{
    width: auto;
    margin: 20px 15px;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    outline: none;
}

.form button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: brown;
    color: chartreuse;
}

.text{
    display: none;
}